/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  /* Header Styles */
  header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 20px 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
  }
  
  /* Booking Styles */
  #booking {
    min-height: 100vh;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .booking-container {
    max-height: 100px;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    background:transparent;
    padding: 40px;
    border-radius: 40px;
  }
  
  .booking-container h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 20px;
    color: #333;
    margin-bottom: 40px;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 40px;
  }
  
  .book-btn {
    font-size: 26px;
    display: inline-block;
    width: 100%;
    padding: 15px 60px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .book-btn:hover {
    background-color: #555;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  